@import "node_modules/materialize-css/sass/materialize";

.nav-wrapper {

	@extend .container;

	@media #{$medium-and-down} {
		width: 100%;
	}
}

.menu-class li {
	position: relative;
}

.menu-class ul ul {
	display: none;
	position: absolute;
	left: 0;
	z-index: 3;
	width: 5rem;
	background: #393939;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
}

.menu-class ul li:hover > ul {
	display: block;
}

// Posts

.blog-page {

	a {
		color: inherit;
	}
}

article img,
.blog-page img {

	@extend .responsive-img;

	@extend .hoverable;

	@extend .z-depth-2;
}

// Post nav

.page-numbers {

	@extend .pagination;
}

.page-numbers .current {

	@extend .active;
}
